<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Интернет магазин</title>
    <title>Главная страница интернет магазина</title>
</head>
<body>
<ul class="pages">
	<li class="mainpages">
		<a href="/mainpage" class="product">Главная страница </a>
	</li>
	<li class="catalog">
		<a href="/catalog" class="product"> Страница с каталогом</a>
	</li>
	<li class="profile">
		<a href="/profile" class="product"> Страница профиля </a>
	</li>

</ul>

</body>
</html>